/* Google font work sans */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Work+Sans:wght@500;600;700;800&display=swap');

/* All Common Style */

* {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF42A5;
    padding: 20px 40px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 10px;
}

.text-color {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
    text-align: center;
}


.main-section-title {
    color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Style */

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
}


/* nav style */
.nav-title {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
}

.section-title span {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.25rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-icon {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 260px;
    height: 40px;
    padding: 15px 30px;

    align-items: center;

}

.nav-icon svg {
    margin-right: 1rem;
}

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-title {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    color: #F948B2;
}

.banner-content {
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

.banner img {
    margin-top: 20px;
    width: 50%;
}

#btn-rogue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 1.25rem;
}

/* main */

main {
    max-width: 1440px;
    margin: 80px auto;
}

/* online game */

.online-game-card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.online-game-card-container .card {
    border-radius: 16px;
    text-align: center;
    margin-top: 40px;
}

.lightboxContainer {
    position: relative;
    display: inline-block;

}

.lightboxContainer:after {
    content: url("../images/playbutton.png");
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

.lightboxContainer img {
    width: 320px;
}

.lightboxContainer img:hover {
    background-color: #0B0223;
}


.wplightbox {
    color: black;
    text-decoration: none;
    position: relative;
    bottom: 170px;
    right: 20px;
    font-weight: 600;
    font-size: 2rem;
}

.wplightbo:hover {
    background: #FF42A5;
    font-size: 1.5rem;
    padding: 15px 24px;
    border-radius: 5px;
    align-items: center;
}

/* play section */

.play {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.play-content {
    margin: 100px 50px;
    align-items: right;
}

.play-img {
    height: 90%;
    margin-left: 90px;
}

.play .play-middle-img {
    border-radius: 8px;
    color: #FFF;
    width: 350px;
    position: relative;
    bottom: 250px;
    right: 150px;
}

/* game category style */

.game-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8rem;

}

.game-content:hover {
    width: 240px;
    height: 70px;
    font-size: 1.25rem;
    border-radius: 50px;
    border: 1px solid #FF42A5;
}

.game-content {
    display: flex;
    align-items: center;
    gap: 1rem;

}

/* footer */

footer {
    width: 1444px;
    height: 400px;
    background: #0B0223;
}

.container {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

.container h3 {
    color: #FFF;
    ;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 2.8rem;
    color: #FFF;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: rgba(255, 255, 255, 0.60);
    padding-top: 1rem;
}

.footer-description {
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: rgba(255, 255, 255, 0.60);
    padding-top: 1rem;
}


/* media query */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    nav>ul,
    .online-game-card-container,
    .banner,
    .game-category,
    .play,
    .container{
        flex-direction: column;
    }

    .nav {
        padding-top: 20px;
    }

    .play-img{
        width: 90%;
        margin-left: 0;
    }

    .play-middle-img{
        justify-content: center;
        position: static;
        max-width: 350px;
    }

    .game-category{
        flex-wrap: wrap;
    }

    .gamr-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container,footer{
        align-items: flex-start;
    }

    .footer-icon{
        justify-content: center;
        padding: 20px;
    }
    .footer-description{
        color: #FFF;
        text-align: center;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 30px;
    }

    nav,nav>ul,
    .online-game-card-container,
    .banner,
    .game-category,
    .play {
        flex-direction: column;
    }
}